---
layout: default2.1
---
<h2 class="text-center aigelist-blue articles-section-header"><i class="bi bi-journal-text" title="Article" alt="Article"></i> {{ page.title | escape }}</h2>

<nav class="mt-auto" aria-label="blog">
  <ul class="pagination justify-content-center">
      <li class="page-item">
          <a class="page-link" href="{{ '/blog' | prepend: site.url }}"><i class="bi bi-newspaper" title="Article" alt="Article"></i> by <i class="bi bi-calendar3" title="Date Posted" alt="Date Posted"></i></a>
      </li>
      <li class="page-item">
          <a class="page-link" href="{{ '/blog/category.html' | prepend: site.url }}"><i class="bi bi-newspaper" title="Article" alt="Article"></i> by <i class="bi bi-folder-fill" title="Category" alt="Category"></i></a>
      </li>
      <li class="page-item">
          <a class="page-link" href="{{ '/blog/tag.html' | prepend: site.url }}"><i class="bi bi-newspaper" title="Article" alt="Article"></i> by <i class="bi bi-tag-fill" title="Tags" alt="Tags"></i></a>
      </li>
      <li class="page-item">
          <a class="page-link" href="{{ '/blog/search.html' | prepend: site.url }}"><i class="bi bi-search" title="Search" alt="Search"></i> all <i class="bi bi-newspaper" title="Articles" alt="Articles"></i></a>
      </li>
  </ul>
</nav>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {%- assign date_format = site.minima.date_format | default: "%a, %b %-d, %Y" -%}
    <a class="nav-item" onclick="window.history.back()">
      <h3 class="nav-link blog-post-history">&#x2190; Back</h3>
    </a>
    <p class="blog-post-meta">
        <i class="bi bi-calendar3" title="Posted" alt="Posted"></i>
        {{ page.date | date: date_format }}&nbsp;
        {%- if page.author -%}
          {% for author in page.author %}
          <i class="bi bi-person-square" title="Author" alt="Author"></i>  
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="blog-post-author">{{ author }}</span>
            {%- if forloop.last == false %}, {% endif -%}
          {% endfor %}
        {%- endif -%}
        <br />
        <i class="bi bi-paragraph" title="Words" alt="Words"></i>
        {% capture words %}
          {{ content | number_of_words }}
        {% endcapture %}
        {{ words | append: ' word(s) ' }} &nbsp;
        <i class="bi bi-watch" title="Reading Time" alt="Reading Time"></i>
  
        {% assign wordCount = content | number_of_words %}
        {% if wordCount > 180 %}
          ~{{ words | divided_by: 180 | append: ' minute(s) read' }}
        {% else %}
          &lt;1 minute read
        {% endif %}
  
        <br />
        {% assign catSize = page.categories | size %}
        {% if catSize > 0 %}
          <i class="bi bi-folder-fill" title="Category" alt="Category"></i>
          {% for category in page.categories %}
            {% if forloop.index == forloop.length %}
              {{ category | downcase }}
            {% else %}
              {{ category | downcase }} | 
            {% endif %}
          {% endfor %}
          <br />
        {% endif %}
  
        {% assign tagSize = page.tags | size %}
        {% if tagSize > 0 %}
          <i class="bi bi-tag-fill" title="Tags" alt="Tags"></i>
          {% for tag in page.tags %}
            {% if forloop.index == forloop.length %}
              {{ tag | downcase }}
            {% else %}
              {{ tag | downcase }}, 
            {% endif %}
          {% endfor %}
        {% endif %}
      </p>
  </header>

  <article class="blog-post">
    <p class="blog-post-content">
      {{ content }}
    </p>

    <div class="post-nav justify-content-center">
      <div class="post-nav-next" style="display: block; float: left; font-weight: bold;">
        {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.url }}">&laquo;&nbsp;{{ page.next.title | truncatewords: 7 }}</a>
        {% endif %}
      </div>
      <div class="post-nav-previous" style="display: block; float: right; font-weight: bold;">
        {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.url }}">{{ page.previous.title | truncatewords: 7 }}&nbsp;&raquo;</a>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
  </article>
</article>
